  <div class="container">
    <p></p>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>Ludwig&acute;s page</h1>
      </div>
    <div class="panel-body">
       <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <img height="150" width="150" src="/user_img/ludwigvanbeethoven.jpg" alt="Ludwig B" class="img-thumbnail">
          </div>
          <div class="col-md-8">
            <div class="col-md-4">
              <p class="text-muted">Name: </p>
              <p class="text-muted">Lives in:</p>
              <p class="text-muted">Rating:</p>
            </div>
            <div class="col-md-8">
              <p>Ludwig Van Beethoven</p>
              <p>Evanston, IL, USA</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </p>
            </div>
          </div>
        </div>
        </div>
        <p>&nbsp;</p>
        <p></p>
        <div class="row">
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-primary"># of Stories</a>
            <a href="#" class="btn btn-primary"># of Followers</a>
            <a href="#" class="btn btn-primary"># of Following</a>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <p>
        <h3>Storyfeed</h3>
      </p>
      <div class="list-group">
  <a href="#" class="list-group-item">
    <p>
      <h5>Don Jacobs&acute;s Building</h5>
    </p>
    <p>History of Donald Jacobs&acute;s</p>
  </a>
 <a href="#" class="list-group-item">
      <h5>Don Jacobs&acute;s Building</h5>
      <p>History of Donald Jacobs&acute;s</p>
  </a>
  <a href="#" class="list-group-item">
    <p>
      <h5>Don Jacobs&acute;s Building</h5>
    </p>
    <p>History of Donald Jacobs&acute;s</p>
  </a><a href="#" class="list-group-item">
    <p>
      <h5>Don Jacobs&acute;s Building</h5>
    </p>
    <p>History of Donald Jacobs&acute;s</p>
  </a><a href="#" class="list-group-item">
    <p>
      <h5>Don Jacobs&acute;s Building</h5>
    </p>
    <p>History of Donald Jacobs&acute;s</p>
  </a><a href="#" class="list-group-item">
    <p>
      <h5>Don Jacobs&acute;s Building</h5>
    </p>
    <p>History of Donald Jacobs&acute;s</p>
  </a>
</div>
   </div>

</div>
</div>
</div>



</div>
